* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
#background-header {
    background-image: url(./img/anh1.png);
    padding-top: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 12%;
    margin-bottom: 5rem;
}

#sub {
    background-color: rgba(0,0,0,0.5);
}
#header {
    position:absolute;
    top:0;
    width: 100%;
    height: 100px;
    background-color: rgba(0,0,0,0.5);
}
#header i {
    display: none;
}
#header i{
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    color: white;
}

#header ul{
    display: inline-block;
}

#header #subnav li {
    display: inline-block;
    line-height: 100px;
    padding-left: 60px;
    list-style: none;
}

#header li a{
    text-decoration: none;
    color: white;
}

/* #header li:first-child a{
    padding-bottom: 5px;
    border-bottom: 2px solid ;
} */

#header #subnav a:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid;
    transition-duration: 0.5s;
    
}

#header #nav #contract-me {
    float: right;
    padding: 9px 40px;
    right: 0px;
    margin: 31px 56px;
    border: none;
    background-color: #ccc;
    opacity: 1;
    cursor: pointer;
}

#header #nav #contract-me:hover {
    opacity: 0.8;
}

#introduce {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: absolute;
    top: 0;
    margin-top: 100px;
    height: 100%;
}
#introduce-infor {
    padding-top: 10%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.name{
    
    font-weight: 300;
    color: #ccc;
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.text-infor {
    padding-top: 28px;
    width: 80%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: white;
    line-height: 1.4;
}

.button-infor {
    padding: 12px 22px;
    margin-top: 35px;
    cursor: pointer;
    background-color: #ccc;
    border: none;
}

.button-infor:hover{
    opacity: 0.9;
}

#background-header-after {
    position: relative;
    background-color: rgba(0,0,0,0.5);
}

#infor {
    background-color: black;
}

#about-me {
    padding:80px 0px;
    
    text-align: center;
}

#add-infor-bottom {
    width: 90%;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    padding: 90px 0;

}

.add{
    width:30%;
    display: inline-block;
    background-color:#ccc;
    margin: 0 20px;
    border: 2px solid #1de6ff;
}

#add-infor {
    background-color: black;
}
.add img {
    width: 100%;
}

.father {
    padding: 5px 20px;
}

.text-add-infor {
    color: black;
    text-align: none;
    text-align: left;
    font-family: system-ui;
    font-weight: 400;
}

.text-paragraph-infor {
    text-align: left;
    padding-top: 30px;
}

.button-add {
    margin: 30px;
    text-align: left;
    padding: 10px 15px;
    border: none;
    background-color: black;
    color: white;
    opacity: 1;
    cursor: pointer;
}

.button-add:hover {
    opacity: 0.6;
}

#footer {
    padding: 30px;
    background-color: #ccc;
}

#footer ul {
    display:inline-block;
}

#footer li{
   list-style: none;
}

#footer li a{
    text-decoration: none;
    color: black;
    opacity: 1;
}

#footer li:hover a {
    opacity: 0.7;
}

#footer i{
    width: 30px;
}

#footer h1 {
    float: right;
    text-shadow: 3px 2px;
    color: #5b1dff;
    padding-bottom: 5px;
    border-bottom: 6px solid;
}

#i-nav {
    position: fixed;
    top: 0;
    left:0;
    right:0;
    width:100%;
    height:100%;
    z-index: 1000;
    color: white;
    background-color: black;
    display: none;
}

#i-nav.open{
    display: block;
    animation: menufadein ease 0.6s;
}
#i-nav i{
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
    width: 100%;
    cursor: pointer;
}

#i-subnav{
    position: absolute;
}

 #i-subnav li{
    list-style: none;
    margin-top: 30px;
}
#i-subnav li a{
    color: white;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: auto;
    font-weight: 200;
}

#i-subnav li:hover a{
    padding-bottom: 5px;
    border-bottom: 3px solid;
    transition-duration: 0.5s;
}
#i-subnav li:first-child a{
    padding-bottom: 5px;
    border-bottom: 3px solid;
}

@keyframes menufadein{
    from{
        transform: translateX(-99%);
    }
    to{
        transform: translateX(0);
    }
}

@keyframes menucloseaa{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(100%);
        background-color: black;
    }
}
